@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700) .max-width-card {
  max-width: 50% !important;
}

.charles-colour {
  background-color: lightgray;
}

.imgcss {
  max-width: 20%;
  height: auto;
}

/* .colour-background {
  background-color:#fafafa;
} */

.footer-colour {
  background-color: coral;
}

.card-colour {
  background-color: #bab6b3
}

center {
  background-color: #616625;
}




/* .carousel-image {
  height: 430px;
  width: 640px;
}  */

.colour-1 {
  background-color: #ccdee6;
}